@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-VariableFont_wght.ttf"), format("ttf");
}

:root {
    --primary-green-200: hsl(148, 38%, 91%);
    --primary-green-600: hsl(169, 82%, 27%);
    --primary-red: hsl(0, 66%, 54%);
    --neutral-grey-500: hsl(186, 15%, 59%);
    --neutral-grey-900: hsl(187, 24%, 22%);
    --neutral-white: hsl(0, 0%, 100%);
    font-size: 16px;
    --main-font: "Karla", sans-serif;
    --regular-weight: 400;
    --bold-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-green-200);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
}

h1 {
    margin: 0;
}

textarea {
    resize: none;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--primary-green-600);
}

.contact-us-form {
    background-color: var(--neutral-white);
    padding: 2rem;
    border-radius: 12px;
    width: max-content;
}

.contact-us-form section {
    display: flex;
    gap: 16px;
}

/* larger spacing,  */

.contact-us-form h1 {
    font-size: 1.5rem;
    color: var(--neutral-grey-900);
    font-weight: var(--bold-weight);
}

.contact-us-form input:not([type="checkbox"]):not([type="radio"]),
.contact-us-form textarea {
    border: 1px solid var(--neutral-grey-900);
    border-radius: 8px;
    width: 100%;
    padding: 16px;
}

.contact-us-form div:has(> input[type="radio"]) {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--neutral-grey-900);
    border-radius: 8px;
    width: 100%;
    padding: 12px;
}

.contact-us-form > button {
    background-color: var(--primary-green-600);
    color: var(--neutral-white);
    border-radius: 8px;
    width: 100%;
    border: none;
    padding: 1rem;
    letter-spacing: 1px;
}
